* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f2ef;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

main {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: white;
}

.invisible-button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: rgb(100, 99, 99);
}

.container-headline {
  font-size: smaller;
  font-weight: lighter;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contacts-container-person {
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

.person-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5rem;
  position: relative;
}

.image {
  background-color: rgb(171, 167, 167);
  border-radius: 50px;
  height: 90px;
  width: 90px;
  z-index: 1;
  margin-top: 2.5px;
}

.background-image {
  height: 60px;
  background-color: thistle;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 00.75rem;
}

.person-name {
  font-weight: 600;
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.person-jobtitle {
  color: grey;
  font-size: smaller;
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
}

.connections {
  color: grey;
  font-size: x-small;
  text-align: center;
}

.connect-button {
  color: #3983ce;
  font-size: small;
  font-weight: 600;
  padding: 0.5rem;
  width: 100%;
  border: 1.5px solid #3983ce;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  width: 1rem;
  height: 1rem;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  z-index: 2;
}

.icon-connections {
  font-size: large;
  font-weight: bolder;
}
